/* HERO (верх) */
.favorites-hero {
  height: 300px;
  background: linear-gradient(135deg, #1c3f7a, #5a4fcf);
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.favorites-hero h1 {
  font-size: 42px;
  margin: 0;
}

.favorites-hero p {
  margin-top: 10px;
  opacity: 0.8;
}

.favorites-container {
  background: white;

  margin: -80px auto 40px; 
  padding: 30px;


  box-shadow: 0 10px 40px rgba(0,0,0,0.1);
}

.tabs {
  display: flex;
  gap: 30px;
  margin-bottom: 25px;
  justify-content: center;
}

.tabs button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding-bottom: 6px;
  color: #666;
}

.tabs button.active {
  color: #000;
  border-bottom: 2px solid #1c3f7a;
  font-weight: 600;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

.card-wrapper {
  position: relative;
}

.remove-btn {
  position: absolute;
  top: 14px;
  left: 14px;
  z-index: 2;
}

.empty {
  text-align: center;
  padding: 40px;
  color: #888;
}
